{% extends 'layout.html' %}

    {% block title %}Sampler{% endblock %}
    {% block head %}
        <script src="{{ url_for('static', filename='js/sampler.js' )}}" defer></script>
        <script src="{{ url_for('static', filename='js/data_handler.js' )}}" defer></script>
    {% endblock %}

    {% block content %}
    <h3>Thanks for sampling, {{ session['name'] }}!</h3>
    <div id="labelsCount"></div>
    <p>What is the color of this square?</p>

    <div id="color-square"></div>
    <div class="color-container"></div>
    {% for color in colors %}
    <button type="button" name="color_guess" value="{{ color }}">{{ color }}</button>
    {% endfor %}


    {% endblock %}